trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  azureSubscription: 'name'
  webAppName: 'RameesFlattris'
  environmentName: 'RameesFlattris-dev'

stages:
# ---------------- CI ----------------
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: Use Node 20

    - script: |
        npm install
        npm run build
      displayName: Install & Build

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
        replaceExistingArchive: true

    - publish: '$(Build.ArtifactStagingDirectory)/app.zip'
      artifact: drop

# ---------------- CD ----------------
- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureSubscription)
              appType: webAppLinux
              appName: $(webAppName)
              runtimeStack: 'NODE|20-lts'
              startupCommand: 'npm start'
              package: '$(Pipeline.Workspace)/drop/app.zip'